@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Fascinate&family=Great+Vibes&family=Joti+One&family=Lobster&family=Spirax&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&family=Train+One&display=swap');

body {
    background-image: url('../assets/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Joti One", serif;
    margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border-radius: 80px;  
    color: #fff; 
    padding: 5px; 
}

.navbar-left img {
    max-width: 50px; /* Ajusta el tamaño máximo del logo */
    margin-left:100px; /* Ajusta el margen izquierdo para mover el logo hacia la derecha */
}

.main-title {
    
    font-size: 30px; /* Ajusta el tamaño del título principal */
    font-style: italic;
    margin-left: 150px; /* Ajusta el margen izquierdo para mover el título hacia la derecha */
}

.navbar-right ul {
    list-style: none;
    display: flex;
    margin-right: 150px; /* Ajusta el margen derecho para mover los elementos hacia la izquierda */
}

.navbar-right ul li {
    margin-left: 10px;
}

.navbar-right ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px; /* Ajusta el tamaño de la fuente de los elementos de navegación */
    transition: color 0.3s ease;
}

.navbar-right ul li a:hover {
    color: #ffcc00; /* Cambia de color al pasar el mouse */
}
main {
    flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
}


footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
}