@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Fascinate&family=Great+Vibes&family=Joti+One&family=Lobster&family=Spirax&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&family=Train+One&display=swap');

body {
    background-image: url('../assets/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Joti One", serif;
    margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1514148f;
    border-radius: 80px; 
    color: #fff; 
    padding: 5px; 
}

.navbar-left img {
    max-width: 50px; 
    margin-left:100px; 
}

.main-title {
    font-size: 30px; 
    font-style: italic;
    margin-left: 150px; 
}

.navbar-right ul {
    list-style: none;
    display: flex;
    margin-right: 150px; 
}

.navbar-right ul li {
    margin-left: 10px;
}

.navbar-right ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px; 
    transition: color 0.3s ease;
}

.navbar-right ul li a:hover {
    color: #ffcc00; 
}

main {
    flex: 1;
    margin: 40px 
}

section {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen superior para separar el párrafo de la navbar */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
    padding: 20px; /* Espaciado interior */
    border-radius: 20px;
}
  
  .tamaño{
    font-size: 25px;
  }
  section p {
    color: white;
  }


.card {
  display: inline-block; /* Para colocar las tarjetas en línea horizontalmente */
  position: relative;
  margin: 20px;
  overflow: hidden; /* Ocultar el desbordamiento de contenido */
  width: 250px; /* Ancho fijo para las tarjetas */
}

.card img {
  width: 100%; /* Hacer que la imagen ocupe todo el ancho de la tarjeta */
  height: 300px; 
  object-fit: cover; /* Escalar y recortar la imagen para que se ajuste al contenedor */
  transition: transform 0.3s ease; /* Agregar transición suave para el efecto de gota */
}

.card:hover img {
  transform: scale(1.1); /* Escalar la imagen al pasar el mouse */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semi-transparente */
  color: white;
  padding: 10px; /* Espaciado interior */
  transform: translateY(100%); /* Mover el texto fuera de la vista inicialmente */
  transition: transform 0.3s ease; /* Agregar transición suave para mostrar el texto */
  font-size: 14px; /* Tamaño de fuente más pequeño */
  font-family: Arial, sans-serif; /* Fuente diferente */
  box-sizing: border-box; /* Incluir el padding en el ancho total */
}

.card:hover .overlay {
  transform: translateY(0); /* Mostrar el texto al pasar el mouse */
}


footer {
    background-color: #1514148f;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer i {
    font-size: 24px; 
    margin-right: 10px; 
    margin-left: 10px; 
}

footer span {
    margin-left: 20px; 
}